
.header-ca{
	background: url({{ asset('img/calendar.jpg') }}) no-repeat center;
	background-size: cover;
	width: 100%;
	min-height: 300px;

}


.header-a{
	background: url("{{ asset('img/img_principal.jpg') }}" ) no-repeat center;
	background-size: cover;
	width: 100%;
	min-height: 300px;

}

.header-co{
	background: url("{{ asset('img/img_principal4.jpg') }}" ) no-repeat center;
	background-size: cover;
	width: 100%;
	min-height: 300px;

}


.header-u{
	width: 100%;
	min-height: 300px;
}

.input-group-btn{
	padding-left: 30px;
}


.container-logo{
	padding-top: 50px;
	padding-left: 30%;
	size: 10px;
}

.img-logo{
	height:30px;
	margin: 10px 5px ;
}

p{

text-align: left;
font-size: 25px;
padding-top: 20px;
padding-left: 30%;
}

#search{
	width: 350px;
	

}

#siguiente{
	background: black;
	color:white;
	width: 120px;
	height: 30px;
	margin-left: 30px;

}

.centrado{

	margin: 40px 0;
	text-align: center;

}

.centrado2{

	margin-top: 5px;
	

}


#enviar{
	background: black;
	color:white;
	width: 100px;
	height: 30px;
	margin-left: 240px;
}

.form-register{

  font-family: Arial, Sans-Serif;
    font-size: 13px;
    margin-bottom: 5px;
    margin-left: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #ededed;
    padding: 4px;
    -webkit-box-shadow: 12px 16px 19px -3px rgba(143,135,143,1);
	-moz-box-shadow: 12px 16px 19px -3px rgba(143,135,143,1);
	box-shadow: 12px 16px 19px -3px rgba(143,135,143,1);
    
    width: 400px;
}


@media screen and (max-width: 768px){

	header h2{
		margin: 15px 0;
		font-size: 24px;
	}

}
.inner-addon {
  position: relative;
}
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}
.left-addon .glyphicon {
  left: 0px;
}
.right-addon .glyphicon {
  right: 0px;
}
.left-addon input {
  padding-left: 30px;
}
.right-addon input {
  padding-right: 30px;
}